.card {
    border: thin solid #444;
    border-radius: 4px;
    box-shadow: 0px 3px rgba(0,0,0,0.3);
    margin-bottom: 25px;
}


.logo {
    background: url(../../../public/assets/logos/earth.png) no-repeat;
    background-size: 250px;
    height: 100px;
}

.cardBody {
    padding: 30px;
}

.cardHeader {
    color: white;
    font-weight: 400;
    font-size: 17.5px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
    border: 2px solid rgb(255, 255, 255, 0.55);
    border-bottom: none;
    padding: 5px 15px;
    font-weight: 800;
}

.orange {
    background: #ff8725 !important;
}

.purple {
    background: #c348f5 !important;
}

.green {
    background: #4ac545 !important;
}

.blue {
    background: #47B7F4 !important;
}

.red {
    background: rgb(196, 43, 89);
}