.roomContainer {
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.roomActionBar {
    padding: 10px;
    flex-grow:0;
    flex: 0px;
}

.actionBarItem {
    font-weight: 900;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 15px;
    border-radius: 3px;
    border: thin solid rgba(0, 0, 0, 0.3);
    text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
}
.gridContainer {
    flex-grow: 1;
}
.roomFrame {
    background: url(../../../public/assets/places/home.png) no-repeat;
    width: 618px;
    height: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}