.bar {
    background: linear-gradient(to bottom, transparent 0%, #141414 100%);
    width: 100%;
    height: 80px;
   
    padding: 15px;

    display: flex;
    align-items:  center;
    align-self: flex-end;
}

.speechInputWrapper {
    border: thin solid rgba(225, 225, 225, 0.3);
    padding: 0px;
    border-radius: 7px;
    flex-grow:1;
}

.speechInput {
    border: thin solid #535353;
    background: #d1d1d1;
    box-shadow: inset 0px 3px 0px rgba(0, 0, 0, 0.1);
    outline: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    transition: width .2s;
    font-size: 13px;
    padding: 2px 10px;
    border-radius: 7px;
    color: #535353;
}