.player {
    background: url(../../../public/assets/avatar/centerFront.png) no-repeat;
    width: 30px;
    height: 69px;
    position: absolute;
    z-index:999;
}

.player.centerBack {
    background: url(../../../public/assets/avatar/centerBack.png) no-repeat;
}