.input {
    width: 100%;
    border-radius: 0;
    border: none;
    border: thin solid #7A7A7A;
    background: #DCDCDC;
    outline: 0;
    padding: 5px 10px;
    box-shadow: inset 0px 3px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}
