.clientTextarea {
    outline: 0;
    border: none;
    width: 100%;
    resize: vertical;
    border: thin solid #7d7d7d;
    box-shadow: inset 3px 3px rgba(0,0,0,0.1);
    padding: 10px;
    font-size: 13px;
    min-height: 50px;
    height: 50px;
    max-height: 150px;
}

.clientTextarea:disabled {
    background: white;
}