@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html,
body {
  background: url(../public/assets/backgrounds/tiledstar_blue.png);
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}


p:last-child {
  margin-bottom: 0;
}

.react-isometric-map-wrapper {
  margin-left: 266px !important;
  margin-top: 90px !important;
}